<div>
  <div class="search-container">
    <input id="search-box"
           autocomplete="off"
           (keyup)="onKeyUp($event.target.value)"
           (keydown.arrowup)="onUp($event)"
           (keydown.arrowdown)="onDown($event)"
           (keydown.enter)="onEnter($event)">
    <ul class="search-result">
      <li *ngFor="let suggestion of suggestions; let i = index"
          [class.selected]="i === selectionIndex"
          (mouseenter)="onMouse(i)"
          (mousedown)="onClick()">
        {{suggestion}}
      </li>
    </ul>
  </div>
  <mat-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">
    <div *ngFor="let filter of filters">
      <app-search-filter-pill [filter]="filter"></app-search-filter-pill>
    </div>
  </mat-chip-list>
</div>
